.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 4px;
  font-family: var(--font-family);
  background-color: var(--white);
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none; //không cho user tô đen chữ

  + .wrapper {
    margin-left: 8px;
  }

  &.disable {
    pointer-events: none; //bỏ cursor
    opacity: 0.5;
  }
}

.title + .icon,
.icon + .title {
  margin-left: 6px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}
//button types
.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.primary {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);

  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor; //để ăn theo màu color ở trên

  &:hover {
    border-color: currentColor; //để ăn theo màu color ở trên
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

//button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}
.large {
  padding: 14px 16px;
  min-width: 200px;
}
